@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color:  var(--background);
    display: flex;
    flex-direction: row;
}

:root {
    --primary: #106466;
    --secondary: #4fcac2;
    --background: #202833;

    --a: #47A29D;
    --b: #67F4EA;
    --c: #202833;
    --d: #66FCF1;
    --e: #0A7A67;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Create a variable for the primary color var(--primary) */

.route{
    width: 100%;
    list-style: none;
    margin: 0;
}

.route-display{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.locations{
    display: flex;
    justify-content: space-between;
}

.locations .locations-line{
    background: var(--primary);
    width: 70%;
    height: 5px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.distance-item{
    text-align: center;
}

.route .user-link-item {
    text-align: center;
    padding: 10px;
}

.location-text{
    font-size: 20px;
    color: black;
}

.list{
    --items-per-page: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    flex-wrap: wrap;
}

#mainContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;

}

.icon-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid white 2px;
    font-size: 25px;
    color: white;
    background-color: var(--primary);
    margin-top: 15px;
    margin-right: 20px;
}

.resource-item{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-button{
    width: 120px;
    height: 120px;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #29323c, #37414b, #2e353b);
    border: none;
    margin-right: 20px;
    font-size: 20px;
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 var(--secondary);
    padding: 20px;
    margin-left: 15px;
}

.user-details, .sport-details, .activity-details{
    list-style: none;
    margin: 0;
}

button{
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em black;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.detail-header{
    font-weight: bold;
    color: #4fcac2;
}

.name-item, .email.item{
    margin-top: 10px;
    margin-bottom: 10px;
}

.text{
    color: white;
    word-wrap: break-word;
    white-space: normal;
}

.resource-route-item{
    list-style: none;
    margin: 0;
}

.date-filter{
    margin-right: 10px;
}
.orderBy-selector, .rid-selector{
    margin-right: 10px;
    background-color: var(--primary);
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.selector-option{
    background-color: #ffffff;
    color: #000000;
}

input[type="date"] {
    background-color: var(--primary);
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 219px;
}
::-webkit-calendar-picker-indicator{
    background-color: var(--primary);
    padding: 5px;
    cursor: pointer;
    border: 3px;
}

.activity-filter{
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content:end;
    margin-top: 30px;
}

#rid{
    min-height:58px; 
    overflow-y :auto; 
    overflow-x: hidden; 
    width:300px;
    overflow: scroll;
 }

 .header{
    width: 100%;
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#106466, #4fcac2);
    text-shadow: 0 0 5px #4fcac2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

.details{
    list-style: none;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.button{
    background-color: #106466;
    color:#ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 70px;
}

.route-user{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .list{
        --items-per-page:3;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: translateY(0);
        flex-wrap: none;
    }
}

