@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #0d74f5;
}

body{
    width: 100%;
    height: 100vh;
    background-color:  #e2e9f7;
    display: flex;
    flex-direction: row;
}

nav{
    width: 250px;
    height: 100%;
    background: var(--primary);
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo{
    display: block;
    margin-bottom: 130px;
}

.logo-img{
    width: 150px;
}

.nav-links{
    list-style: none;
    position: relative;
}

.nav-links li{
    padding: 10px 0;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}

.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.25s ease-in-out;
}

.nav-links li:hover a{
    color: var(--primary);
    transition: 0.3s;
}

.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active{
    top: 2.6%;
}

.nav-links li:nth-child(2):hover ~ .active{
    top: 22.6%;
}

.nav-links li:nth-child(3):hover ~ .active{
    top: 42.6%;
}

.nav-links li:nth-child(4):hover ~ .active{
    top: 62.6%;
}

.nav-links li:nth-child(5):hover ~ .active{
    top: 82.6%;
}

@media only screen and (max-width: 600px) {
    nav{
        width: 110px;
    }

    .logo-img{
        width: 70px;
    }

    .logo{
        display: block;
        margin-bottom:130px;
        margin-left: -10px;
    }

    .nav-links li a p{
        display: none;
    }

    .nav-links li a i{
        margin-right: 0
    }

    .nav-links li a{
        justify-content: center;
    }

}