
.search-bar-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.search-bar-with-add{
    width: 100%;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.search-bar-with-add .search-bar-container {
    width: 400px;
    height: 100%;
    gap: 10px;
}

.rankings-form, .activity-filter {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

/**
selector for input type date
 */

.activity-filter {
    flex-direction: column;
    margin-top: 40px;
}

.activity-filter button {
    height: 60px;
}

.activity-filter input[type="date"], .activity-filter select {
    height: 20px;
}

.user-rankings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-rankings button {
    margin-top: 50px;
}

.add-item .date-filter {
    width: inherit;
}


textarea {
    resize: none;
}

@media screen and (max-width: 600px) {
    .search-bar-with-add .search-bar-container {
        width: 100%;
    }

    .rankings-form, .activity-filter {
        flex-direction: column;
        height: 100%;
    }

    #mainContent {
        overflow-y: scroll;
    }

    .rankings-form form, .activity-filter form {
        width: 98%;
    }

    .activity-filter {
        overflow-y: auto;
    }
}

