
.search-bar-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.search-bar-with-add{
    width: 100%;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.search-bar-with-add .search-bar-container{
    width: 400px;
    height: 100%;
    gap: 10px;
}

.rankings-form{
    display: flex;
    justify-content: space-evenly;
    width: 52%;
    height: 100%;
}

.user-rankings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-rankings button{
    margin-top: 50px;
}

