

:root{
    --button-width: 210px;
    --button-margin-right: 20px;
    --list-height: 70%;
    --button-height: 84px;
}

/*                               List Scrollbar styles                                    */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

  /*                           List Container and elements style                            */

.list{
    --items-per-page: 20;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--button-width) + var(--button-margin-right)), 1fr));
    grid-row-gap: var(--button-margin-right);
    grid-column-gap: var(--button-margin-right);
    height: var(--list-height);
    width: 100%;
    padding: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
   /**
   background-color: #2f4353;
   background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
   */
}

.list-button{
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #29323c, #37414b, #2e353b);
    border: none;
    margin-right: 20px;
    font-size: 20px;
    background-size: 300% 100%;
    box-shadow: 0 1px 10px 0 var(--primary);
    padding: 20px;
    margin-left: 15px;
}

.button{
    background-color: var(--button);
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 70px;
}

.unstyled-button{
    background-color: var(--primary);
    color: white;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: none;
}


.resource-item{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}


.resource-route-item{
    list-style: none;
    margin: 0;
}

.filter-selector{
    margin-right: 10px;
    background-color: var(--primary);
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.selector-option{
    background-color: #ffffff;
    color: #000000;
}

.date-filter{
    margin-right: 10px;
}

input[type="date"] {
    background-color: var(--primary);
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 219px;
}

::-webkit-calendar-picker-indicator{
    background-color: var(--primary);
    padding: 5px;
    cursor: pointer;
    border: 3px;
}

#rid{
    min-height:58px;
    width:300px;
    overflow: scroll;
 }


@media only screen and (max-width: 600px) {

    .list-button{
        width: 150px;
        font-size: 20px;
    }
}

