
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#mainContent{
    height: 100%;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    margin-left: 250px;
}

.detail-header{
    font-weight: bold;
    color: #4fcac2;
}

.header{
    width: 100%;
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#106466, #4fcac2);
    text-shadow: 0 0 5px #4fcac2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }


body{
    width: 100%;
    height: 100vh;
    background-color:  var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

:root {
    --primary: #3c5c5e;
    --secondary: #4fcac2;
    --background: #202833;
    --disabled: #243749;
}

.error{
    justify-content: center;
    width: 100%;
    display: flex;
}

.text{
    color: white;
    word-wrap: break-word;
    white-space: normal;
}

.text-no-results{
    text-align: center;
    color: white;
    word-wrap: break-word;
    font-size: 30px;
}

button{
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em black;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.icon-button, .outer-icon-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid white 2px;
    font-size: 25px;
    color: white;
    background-color: var(--primary);
    margin-top: 15px;
    margin-right: 20px;
}


.rankings-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.user-rankings .button, .sport-filter .button, .add-container .button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}

.user-rankings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
}


.route-search, .sport-search, .sport-filter, .route-filter, .add-item{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    gap: 10px;
    padding: 10px;

}

.sports-search-header-container .sport-filter{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding-right: 60px ;
    width: 100%;
    height: 100%;
}

.sports-search-header-container .sport-filter .form-text-input{
    height: 30px;
    margin-bottom: 10px;
}

.add-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sport-search-container, .add-container, .route-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 375px;

}

.route-filter{
    margin-top: 125px;
}
.sport-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-header {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #3c5c5e;
}

.details{
    list-style: none;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .header{
        font-size: 48px;
    }
}
