
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #7f9bbd;
    --secondary: #bedaef;
    --background: #202833;
    --button: #9f9887;
    --disabled: #8f8d86;
    --nav-width: 250px;
    --mobile-nav-width: 110px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #d2ccc4 0%, #2f4353 74%);
}


.big{
    font-size: 2.5rem;
    color: var(--secondary);
}

.big i {
    /* light box shadow */
    text-shadow: 0 1px 1px white;
}

.big i:hover{
    /* light box shadow */
    color: var(--button);
    text-shadow: 0 1px 1px black;
    transform: scale(1.1);
    transition: all 0.25s ease-in-out;
}

#mainContent{
    height: 100%;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--mobile-nav-width);
    padding: 20px;
    overflow-y: hidden;
}

.detail-header{
    font-weight: bold;
    color: var(--primary);
}

/* CSS */
.button {
  background-color: var(--primary);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  text-align: center;
  padding: .75rem 1.65rem;
  position: relative;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button:hover:after {
  bottom: 2px;
  left: 2px;
}

.add-item .button, .login-item .button{
    margin-top: 20px;
}

.header{
    width: 100%;
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(var(--button), var(--secondary));
    text-shadow: 0 0 5px var(--secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }


.error{
    justify-content: center;
    width: 100%;
    display: flex;
}

.text{
    color: white;
    word-wrap: break-word;
    white-space: normal;
}

.no-results-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--list-height);
}

.text-no-results{
    text-align: center;
    color: white;
    word-wrap: break-word;
    font-size: 30px;
}

button{
    cursor: pointer;
}

.icon-button, .outer-icon-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid white 2px;
    font-size: 25px;
    color: white;
    background-color: var(--primary);
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.login-page .spacer{
    padding-top: 10px;
}

.login-page .register-anchor .text{
    color: var(--secondary)
 }

 .login-page .register-anchor {
    background-color: transparent;
    text-decoration: none;
 }

 .login-page .register-anchor:hover .text {
    background-color: transparent;
    width: 84%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
 }

 .login-elems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
   
 }

 .register-elems {
    margin-top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
   
 }


.route-search, .sport-search, .sport-filter, .route-filter, .add-item, .login-item  {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    gap: 10px;
}

.sports-search-header-container .sport-filter{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding-right: 60px ;
    width: 100%;
    height: 100%;
}

.sports-search-header-container .sport-filter .form-text-input{
    height: 30px;
    margin-bottom: 10px;
}

.add-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sport-search-container, .add-container, .route-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 375px;

}

.route-filter{
    margin-top: 125px;
}
.sport-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-header {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: var(--primary);
}

.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.details{
    list-style: none;
    width: 100%;
    text-align: center;
}

/* Home styles */

.home-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-image{
    width:30%;
    top: 0;
    left: 0;
    max-width: 500px;
    height: 100vh;

}

.image-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 48px;
    }

    #mainContent {
        margin-left: var(--mobile-nav-width);
    }
}

.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
