
:root{
    --modal-border-radius: 10px;
    --modal-height: 300px;
    --modal-header-height: 50px;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background: rgba(0 ,0 ,0 ,0.3);
}

.modal{
    background-color: white;
    border-radius: var(--modal-border-radius);
    width: 500px;
    max-width: 100%;
    height: var(--modal-height);
    max-height: 100vh;
    box-shadow: 0, 2px, 4px rgba(0,0,0,0.2);
    margin-left: var(--nav-width)
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    text-align: center;
    height: calc(var(--modal-height) - var(--modal-header-height));
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    height: var(--modal-header-height);
    border-top-left-radius: var(--modal-border-radius);
    border-top-right-radius: var(--modal-border-radius);
    text-align: center;
}

.modal-header-text{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

.modal-header .unstyled-button{
    position: relative;
    float: right;  
    background: transparent;
}

.modal-content .details {
    display: flex;
    list-style: none;
    height: 200px;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.modal-content input{

    height: 30%;

}

.modal-content textarea{
    height: 80%;
}


:root{
    --delete-modal-border-radius: 10px;
    --delete-modal-height: 200px;
    --delete-modal-width: 280px;
    --delete-modal-header-height: 50px;
    --activity-edit-modal-height: 400px;
    --activity-edit-modal-header-height: 50px;
    --activity-edit-modal-width: 700px;
    --route-edit-height: 280px;
    --route-edit-width: 700px;
}

#delete .modal{
    width: var(--delete-modal-width);
    height: var(--delete-modal-height);
}

#delete .modal-content{
    padding: 10px;
    height: calc(var(--delete-modal-height) - var(--delete-modal-header-height));
}

#delete .text{
    text-align: center;
    color: var(--primary);
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

#activity-edit .modal{
    width: 700px;
    height: var(--activity-edit-modal-height);
    max-height: 100vh;
    box-shadow: 0, 2px, 4px rgba(0,0,0,0.2);
    margin-left: var(--nav-width)
}

#activity-edit .modal-content{
    height: calc(var(--activity-edit-modal-height) - var(--activity-edit-modal-header-height));
}

#activity-edit .details{
    height: 400px;
    display: flex;
    align-items: center;
}


#route-edit .modal{
    height: var(--route-edit-height);
    width: var(--route-edit-width);
}