@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --nav-width: 250px;
    --hover-color: white;
    --mobile-nav-width: 110px;
    --logo-mobile-width: 80px;
}

.logo{
    display: block;
    margin-bottom: 200px;
    transition: all 0.3s ease-in-out;
}

nav:hover .logo{
    margin-left: 35px;
    margin-bottom: 153px;
}

nav:hover .logo-img, nav:hover .logo{
    transition: all 0.3s ease-in-out;
}

.logo-img{
    width: var(--logo-mobile-width);
    transition: all 0.3s ease-in-out;
}

nav:hover .logo-img{
    width: 150px;
}


nav:hover{
    width: var(--nav-width);
    height: 100vh;
    transition: all 0.3s ease-in-out;
}

nav{
    width: 110px;
    height: 100%;
    background: var(--primary);
    top: 0;
    left: 0;
    padding: 20px 16px;
    box-shadow: 0 4px 15px 0 var(--primary);
    z-index: 10;
    position: fixed;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}


.nav-links{
    list-style: none;
    position: relative;
    margin-left: 10px;
}


.nav-links li{
    padding: 10px 0;
}

.auth {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 25px;
    margin-left: 6px;
    height: 47px;
    
    padding-top: 12px;
    padding-bottom: 8px;
}

.auth a {
    position: relative;
    margin-bottom: 5px;
    
}

nav .auth a,
.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

nav .auth a .nav-text,
.nav-links li a .nav-text{
    display: none;
    white-space: nowrap;
}

nav:hover .auth a .nav-text,
nav:hover .nav-links li .nav-text{
    display: block;
}

nav:hover .auth a i,
nav:hover .nav-links li a i{
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

nav .auth a i,
.nav-links li a i{
    font-size: 22px;
    margin-right: 0;
    margin-left: 3.5px;
}

.auth:hover a,
.auth:focus a,
.nav-links li:hover a,
.nav-links li:focus a{
    color: var(--primary);
    transition: 0.3s;
}


.nav-links li:hover ~ .active,
.nav-links li:focus ~ .active{
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active,
.nav-links li:nth-child(1):focus ~ .active{
    top: 2.6%;
}

.nav-links li:nth-child(2):hover ~ .active,
.nav-links li:nth-child(2):focus ~ .active{
    top: 22.6%;
}

.nav-links li:nth-child(3):hover ~ .active,
.nav-links li:nth-child(3):focus ~ .active{
    top: 42.6%;
}

.nav-links li:nth-child(4):hover ~ .active,
.nav-links li:nth-child(4):focus ~ .active{
    top: 62.6%;
}

.nav-links li:nth-child(5):hover ~ .active,
.nav-links li:nth-child(5):focus ~ .active{
    top: 82.6%;
}

.auth:hover {
    background: var(--hover-color);
    width: 84%;
   /* height: 42px;*/
    
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
}

.active{
    background: var(--hover-color);
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.25s ease-in-out;
}


@media only screen and (max-width: 600px) {
    nav, nav:hover{
        width: 110px;
        height: 100%;
    }

    .logo-img, nav:hover .logo-img{
        width: var(--logo-mobile-width);
        margin-left: 10px
    }

    .logo, nav:hover .logo{
        margin-left: -10px;
        margin-bottom: 80px;
    }

    .nav-links li a .nav-text, nav:hover .nav-links li a .nav-text{
        display: none;
    }

    .nav-links li a i, nav:hover .nav-links li a i{
        margin-right: 0
    }

    .nav-links li a, nav:hover .nav-links li a {
        justify-content: center;
    }

}